# # Ignore simulation junk
# sim_build/
# __pycache__/
# *.vcd
# *.log
# *.pyc

# # Ignore the virtual environment
# env/
# venv/

# Simulation outputs
sim_build/
__pycache__/
*.vcd
*.log

# Old project files
inverter.v
test_inverter.py
counter.v
test_axi_advanced.py
test_counter.py
test_axi_counter.py